<%= turbo_stream.remove dom_id(@tarea) %>

<%= turbo_stream.replace "tareas_header" do %>
  <%= render "tareas/header", tareas_count: Tarea.count %>
<% end %>

<% if Tarea.count == 0 %>
  <%= turbo_stream.append "tareas_lista" do %>
    <div id="tareas_empty_state" class="flex-1 flex flex-col items-center justify-center text-center p-6 rounded-2xl border-2 border-dashed border-orange-200">
      <span class="text-4xl mb-2">🌱</span>
      <p class="text-stone-500 text-sm">No tenés tareas aún.</p>
      <p class="text-stone-400 text-xs mt-1">¡Empezá agregando una!</p>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.update "sugerencia_ia", "" %>
